<h1>会員情報編集</h1>

<%= form_with model: @customer, url: customers_my_page_edit_path do |f| %>
<table>
  <tbody>
    <tr>
      <th>氏名</th>
      <th>
        <%= f.text_field :last_name, autofocus: true, placeholder:"姓" %>
      </th>
      <th>
        <%= f.text_field :first_name, autofocus: true, placeholder:"名" %>
      </th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th>
        <%= f.text_field :last_name_kana, autofocus: true, placeholder:"セイ" %>
      </th>
      <th>
        <%= f.text_field :first_name_kana, autofocus: true, placeholder:"メイ" %>
      </th>
    </tr>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <th>
        <%= f.text_field :postal_code %>
      </th>
    </tr>
    <tr>
      <th>住所</th>
      <th>
        <%= f.text_field :address %>
      </th>
    </tr>
    <tr>
      <th>電話番号(ハイフンなし)</th>
      <th>
        <%= f.text_field :telephone_number %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th>
        <%= link_to "編集内容を保存", customers_update_path, method: :patch, class: 'btn btn-sm btn-success' %>
      </th>
      <th>
        <%= link_to "退会する", customers_check_path, class: 'btn btn-sm btn-success' %>
      </th>
    </tr>
  </tbody>
</table>
<% end %>