<h1>注文履歴詳細</h1>

<table>
  <tbody>
    <tr>
      <th>購入者</th>
      <th><%= @customer.last_name %> <%= @customer.first_name %></th>
    </tr>
    <tr>
      <th>注文日</th>
      <th><%= @customer.updated_at %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= @customer.postal_code %><%= @customer.address %><%= @customer.last_name %> <%= @customer.first_name %></th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th><%= @customer.id %></th>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <% total = 0 %>
  <% @cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.with_tax_price %>
      </td>
      <td>
        <%= cart_item.amount %>
      </td>
      <td>
        <%= cart_item.subtotal %>
      </td>
    </tr>
  </tbody>
  <% total += cart_item.subtotal %>
  <% end %>
</table>

<table>
  <tbody>
    <tr>
      <th>商品合計</th>
      <td><%= total %>円</td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= 800 %>円</td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><%= (total + 800) %>円</td>
    </tr>
  </tbody>
</table>