<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h3 class="table-secondary text-center">注文履歴詳細</h3>
    </div>
    <div class="col-md-7"></div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>購入者</th>
            <th>
              <%= link_to admin_customer_path(@customer), class: 'border-bottom' do %>
                <%= @customer.last_name %> <%= @customer.first_name %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>注文日</th>
            <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order.shipping_postal_code %><%= @order.shipping_address %><%= @order.shipping_name %></th>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= @order.payment_method_i18n %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-7">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @order.total_amount = 0 %>
        <% @history_details.each do |history_detail| %>
        <tbody>
          <tr>
            <td>
              <%= history_detail.item.name %>
            </td>
            <td>
              <%= history_detail.post_tax_price.to_s(:delimited) %>円
            </td>
            <td>
              <%= history_detail.amount %>
            </td>
            <td>
              <%= history_detail.subtotal.to_s(:delimited) %>円
            </td>
          </tr>
        </tbody>
        <% @order.total_amount += history_detail.subtotal %>
        <% end %>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_amount.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <% @order.postage = 800 %>
            <td><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <% total_price = @order.postage.to_i + @order.total_amount.to_i %>
            <td><%= total_price.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

