<h1>注文履歴一覧</h1>
<!--管理者トップページ-->
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>
  <% @history_details.each do |history_detail| %>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_order_path(history_detail.id) do %>
          <%= history_detail.created_at %>
        <% end %>
      </td>
      <td>
        <%= history_detail.order_history.customer.last_name %><%= history_detail.order_history.customer.first_name %>
      </td>
      <td>
        <%= history_detail.amount %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div>
  <%= paginate @history_details %>
</div>