<h1>注文履歴一覧</h1>

<table>
  <thead>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>注文詳細</th>
  </thead>
  <tbody>
    <% @orders.each do |order_history| %>
      <tr>
        <td><%= order_history.created_at %></td>
        <td>
          <%= "〒" + order_history.shipping_postal_code %><br>
          <%= order_history.shipping_address %><br>
          <%= order_history.shipping_name %>
        </td>
        <td>
        <!--whereメソッドを使ったeach文-->
        <% history_details = HistoryDetail.where(order_history_id: 1) %>
        <% history_details.each do |history_detail| %>
          <%= history_detail.item.name %><br>
        <% end %>
        </td>
        <td>
          <%= order_history.total_amount %>円
        </td>
        <td>
          <%= link_to "表示する", order_path(order_history.id), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>