<h1>商品一覧</h1>

<div>
  <% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(300,300) %>
    <% end %>
  </div>
  <div>
    <%= item.name %>
  </div>
  <div>
    ￥<%= item.add_tax_price %>
  </div>
  <% end %>
</div>
<div>
  <%= paginate @items %>
</div>