<div>
  <%= image_tag @item.get_image(300,300) %>
</div>

<table>
  <tbody>
    <tr>
      <th><%= @item.name %></th>
    </tr>
    <tr>
      <th><%= @item.introduction %></th>
    </tr>
    <tr>
      <th>￥<%= @item.add_tax_price %>(税込)</th>
    </tr>
  </tbody>
</table>

<%= form_with model: @cart_item, url:cart_items_path, method: :post, local: true do |f| %>
<div>
  <%= f.select :amount, *[1..5] %>
</div>
<div>
  <%= f.hidden_field :item_id %>
</div>
<div>
  <%= f.submit "カートに入れる", class: 'btn btn-sm btn-success' %>
</div>
<% end %>